<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改mock配置关联响应数据')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-data-edit" >
        <input name="mockConfigId"  th:value="${mockConfigId}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">模拟耗时(ms)：</label>
            <div class="col-sm-8">
                <input name="timeout" t th:value="${timeout}" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<script th:inline="javascript">
    var prefix = ctx + "mock/data";
    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/doModifyMockTime", $('#form-data-edit').serialize());
        }
    }
</script>
</body>
</html>