<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.lancelothuxi.mock.mapper.KubeConfigMapper">
    
    <resultMap type="io.github.lancelothuxi.mock.domain.KubeConfig" id="KubeConfigResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="isValid"    column="is_valid"    />
        <result property="content"    column="content"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectKubeConfigVo">
        select id, name, is_valid, content, create_time, update_time from kube_config
    </sql>

    <select id="selectKubeConfigList" parameterType="io.github.lancelothuxi.mock.domain.KubeConfig" resultMap="KubeConfigResult">
        <include refid="selectKubeConfigVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="isValid != null "> and is_valid = #{isValid}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>
    
    <select id="selectKubeConfigById" parameterType="Long" resultMap="KubeConfigResult">
        <include refid="selectKubeConfigVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertKubeConfig" parameterType="io.github.lancelothuxi.mock.domain.KubeConfig" useGeneratedKeys="true" keyProperty="id">
        insert into kube_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="isValid != null">is_valid,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="isValid != null">#{isValid},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateKubeConfig" parameterType="io.github.lancelothuxi.mock.domain.KubeConfig">
        update kube_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="isValid != null">is_valid = #{isValid},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteKubeConfigById" parameterType="Long">
        delete from kube_config where id = #{id}
    </delete>

    <delete id="deleteKubeConfigByIds" parameterType="String">
        delete from kube_config where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>