<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改服务mock方法')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-config-edit" th:object="${mockConfig}">
        <input name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">服务名：</label>
            <div class="col-sm-8">
                <input class="form-control" name="interfaceName" th:field="*{interfaceName}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">方法名：</label>
            <div class="col-sm-8">
                <input class="form-control" name="methodName" th:field="*{methodName}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">分组名：</label>
            <div class="col-sm-8">
                <input class="form-control" name="groupName" th:field="*{groupName}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">版本号：</label>
            <div class="col-sm-8">
                <input class="form-control" name="version" th:field="*{version}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">参数数据值：</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="data">[[*{data}]]</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">创建时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input class="form-control" name="createdAt"
                           placeholder="yyyy-MM-dd" required th:value="${#dates.format(mockConfig.createdAt, 'yyyy-MM-dd')}" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">更新时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input class="form-control" name="updatedAt"
                           placeholder="yyyy-MM-dd" required th:value="${#dates.format(mockConfig.updatedAt, 'yyyy-MM-dd')}" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">匹配参数数据的id：</label>
            <div class="col-sm-8">
                <input class="form-control" name="matchDataId" th:field="*{matchDataId}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">应用名：</label>
            <div class="col-sm-8">
                <input class="form-control" name="appliactionName" th:field="*{appliactionName}" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">mock方式：</label>
            <div class="col-sm-8">
                <select class="form-control m-b" id="serverSideMock" name="serverSideMock">
                    <option th:field="*{serverSideMock}" value="1">服务端</option>
                    <option th:field="*{serverSideMock}" value="0">客户端</option>
                </select>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script th:inline="javascript">
    var prefix = ctx + "mock/feign/config";
    $("#form-config-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-config-edit').serialize());
        }
    }

    $("input[name='createdAt']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='updatedAt']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
</script>
</body>
</html>