<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('服务mock方法列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <input name="type" th:value="${type}" type="hidden">

                        <ul>
                            <li>
                                <label>应用名：</label>
                                <input type="text" name="appliactionName"/>
                            </li>
                            <li>
                                <label>服务名：</label>
                                <input type="text" name="interfaceName"/>
                            </li>
                            <li>
                                <label>方法名：</label>
                                <input type="text" name="methodName"/>
                            </li>
                            <li th:if="${type == 'dubbo'}">
                                <label>分组名：</label>
                                <input type="text" name="groupName"/>
                            </li>
                            <li th:if="${type == 'dubbo'}">
                            <label>版本号：</label>
                                <input type="text" name="version"/>
                            </li>

                            <li>
                                <label>启用状态：</label>
                                <select name="enabled">
                                    <option value="">全部</option>
                                    <option value="1">开启</option>
                                    <option value="0">关闭</option>
                                </select>
                            </li>

                            <li>
                                <label>精准匹配：</label>
                                <select name="directMatch">
                                    <option value="">全部</option>
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </li>

                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:config:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:config:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:config:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:config:export">
                    <i class="fa fa-download"></i> 导出
                </a>
                <a class="btn btn-warning" onclick="batchOpen()">
                    <i class="fa fa-download"></i> 批量开启
                </a>

                <a class="btn btn-warning" onclick="batchClose()">
                    <i class="fa fa-download"></i> 批量关闭
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        // var type = [[type]];
        var type = /*[[${type}]]*/ 'dubbo';
        var editFlag = [[${@permission.hasPermi('mock:config:edit')}]];
        var removeFlag = [[${@permission.hasPermi('mock:config:remove')}]];
        var appliactionNameDatas = [[${@dict.getType('application')}]];
        var prefix = ctx + "mock/dubbo/config";
        var mockDataPrefix = ctx + "mock/data";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "服务mock方法",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'appliactionName',
                    title: '应用名'
                },
                {
                    title: 'mock方式',
                    align: 'center',
                    formatter: function (value, row, index) {
                        if (row.serverSideMock == 1) {
                            return '<i>服务端</i> ';
                        } else {
                            return '<i>客户端</i> ';
                        }
                    }
                },
                {
                    field: 'interfaceName',
                    title: '服务名'
                },
                {
                    field: 'methodName',
                    title: '方法名'
                },
                {
                    visible: type == 'dubbo',
                    field: 'groupName',
                    title: '分组名'
                },
                {
                    visible: type == 'dubbo',
                    field: 'version',
                    title: '版本号'
                },
                {
                    visible: editFlag != 'hidden',
                    title: '开关',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row);
                    }
                },
                {
                    visible: editFlag != 'hidden',
                    title: '精准匹配',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return directMatchTools(row);
                    }
                },
                {
                    field: 'createdAt',
                    title: '创建时间'
                },
                {
                    field: 'updatedAt',
                    title: '更新时间'
                },
                {
                    field: '查看Mock数据',
                    title: '查看Mock数据',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="showMockData(\'' + row.id + '\')"><i class="fa fa-street-view"></i>查看</a> ');
                        return actions.join('');
                    }

                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        /* 开关显示 */
        function statusTools(row) {
            if (row.enabled == "1") {
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.id + '\')"></i> ';
            } else {
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.id + '\')"></i> ';
            }
        }

        /* 开关显示 */
        function directMatchTools(row) {
            if (row.directMatch == "1") {
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="offDirect(\'' + row.id + '\')"></i> ';
            } else {
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="onDirect(\'' + row.id + '\')"></i> ';
            }
        }

        /* mock管理-启用 */
        function enable(id) {
            $.modal.confirm("确认mock配置要启用吗？", function() {
                $.operate.post(prefix + "/changEnable", { "id": id, "enabled": "1" });
            })
        }

        /* mock管理-停用 */
        function disable(id) {
            $.modal.confirm("确认mock配置要停用吗？", function() {
                $.operate.post(prefix + "/changEnable", { "id": id, "enabled": "0" });
            })
        }

        /* mock管理-启用 */
        function onDirect(id) {
            $.modal.confirm("确认开启精准吗？", function() {
                $.operate.post(prefix + "/directMatchSwitch", { "id": id, "directMatch": "1" });
            })
        }

        /* mock管理-停用 */
        function offDirect(id) {
            $.modal.confirm("确认关闭精准吗？", function() {
                $.operate.post(prefix + "/directMatchSwitch", { "id": id, "directMatch": "0" });
            })
        }

        function showMockData(id) {
            createMenuItem(mockDataPrefix + "?mockConfigId=" + id,'Mock数据');
        }


        function batchOpen() {
            table.set();
            var rows = $.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            $.modal.confirm("确认要开启选中的" + rows.length + "条数据吗?", function() {
                var url = table.options.removeUrl;
                var data = { "ids": rows.join() };
                $.operate.submit(prefix + "/batchOpen", "post", "json", data);
            });
        }


        function batchClose() {
            table.set();
            var rows = $.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            $.modal.confirm("确认要关闭选中的" + rows.length + "条数据吗?", function() {
                var url = table.options.removeUrl;
                var data = { "ids": rows.join() };
                $.operate.submit(prefix + "/batchClose", "post", "json", data);
            });
        }


    </script>
</body>
</html>